html {
    background-color: blanchedalmond;
    font-family: 'font-family: 'Ysabeau', sans-serif;'
}

body {
    background-color: darkkhaki; 
    width: 90%; 
    margin: 0 auto; 
    border: 15 px solid black; 
}